@media (max-width: 767px) {
  .journeyScreenContDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 300px;
  }

  .journeyScreenArrowDiv {
    margin: 10%; 
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .journeyScreenImg {
    width: 120px;
  }

}



@media (min-width: 768px) {
  .journeyScreenContDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(20deg);
    height: 20vh;
    width: 200px;
  }

  .journeyScreenArrowDiv {
    margin: 10%; 
    height: 80px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .journeyScreenImg {
    width: 90px;
  }

  .journeyScreenImgDiv {
    position: relative;
  }

  .journeyScreenImgDiv::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%; 
    bottom: -100%;
    left: -50%;
    background-image: var(--urlcontent);
    background-size: cover; 
    background-position: center; 
    transform: scaleY(-1) skewX(50deg);
    filter: blur(3px) brightness(0.7);
    opacity: var(--opacityRange);
  }


}