@media (min-width: 768px){
  .journeyMainDiv {
    width: 90vw;
    height: 65vh;
    display: flex;
  }
  .journeyTagDiv {
    height: 6vh;
  }

  .journeyDescripDiv {
    width: 60vw;
    height: 65vh;
  }

  .journeySvg {
    width: 260px;
  }

  .expCertHolder {
    height: 59vh;
  }

  .journeyScreenHolder {
    height: 62vh;
    width: 30vw;
  }
}