@media (min-width: 768px){
  /* .journeyMainDiv {

  } */

  .journeyDescripDiv {
    background-color: aquamarine;
  }

  .journeySvg {
    width: 260px;
  }

  .expCertHolder {
    height: 50vh;
    
    background-color: brown;
  }
}