.submittedDisplay {
  color: #3176AF
}

.formInputControls {
  background-color: transparent;
}

@media (max-width: 768px) {
  .contactPageMainDiv{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: smaller; 
    margin-top: 15vh;
  }

  .contactPageFormDiv {
    height: 40vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }

  .formInputHolder {    
    height: 26vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .formControlMessage {
    height: 24vh !important;
    width: 90vw;
    background-color: transparent;
  }

  .submitButtonHolder{   
    height: 7vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .validateArrowDiv {
    
    width:  30vw;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .validateArrowImg{
    width: 30px;
  }

  .validateArrowDivText {
    font-size: small;
  }

  .contactPageLogoDiv {
    height: 10vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

}

@media (min-width: 768px) {
  .contactPageMainDiv{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  }

  .contactPageFormDiv {
    height: 26vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .formInputHolder {    
    height: 15vh;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formControlMessage {
    height: 12vh !important;
    width: 400px;
    background-color: transparent;
  }

  .submitButtonHolder{   
    
    height: 7vh;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .validateArrowDiv {
    
    width: 100px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .validateArrowImg{
    width: 60px;
  }

  .contactPageLogoDiv {
    height: 4vh;
    width: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}