@media (max-width: 767px){

  .certDisplayDiv {
    width: 90vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .certImgNameDiv {
    display: flex;
    align-items: center;
    height: 6vh;
    width: 90vw;
  }

  .certImgDiv {
    width: 100px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
  }

  .certImg {
    height: 100%;
  }

  .certNameDiv {
    width: 65vw;
    height: 56px;
    display: flex;
    align-items: center;
  }

  .certNameDiv h5 {
    font-size: medium;
  }

  .certSecTypeDiv {
    width: 90vw;
  }

  .certSecTypeDiv div h5 {
    font-size: medium;
  }
  


}


@media (min-width: 768px) {

  .certDisplayDiv {
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .certImgNameDiv {
    display: flex;
    align-items: center;
    
    height: 6vh;
    width: 60vw;
  }

  .certImgDiv {
    width: 130px;
    height: 68px;
    display: flex;
    justify-content: center;
  }

  .certImg {
    height: 100%;
  }

  .certSecTypeDiv { 
    width: 48vw;
    margin-left: 65px;
  }

}