.navBarRightMainDiv {
  position: fixed;
  right: 0;
}

.navBarRightCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.navBarRightCont div{
  writing-mode: vertical-rl;
  
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
