@media (min-width: 768px) {
  .emailScreenDiv {
    height: 30vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emailScreenInnerDiv{  
    height: 20vh;
    width: 250px;
    transform: skewY(20deg);
    font-size: x-small;
    position: relative;
    left: 20%;
  }

  .emailScreenInnerDivRe {
    height: 80%;
    width: 90%;
    font-size: x-small;
    position: absolute;
    left: -45%;
    top: 120%;
    transform: scaleY(-1) skewX(50deg) ;
    filter: blur(2px) brightness(0.7) opacity(0.2);

  }

  .emailMessageDiv{
    height: 7vh;
  }

  .emailMessageDivRe {
    height: 3vh
  }
}