.navBarTopMainDiv {
  position: fixed;
  top: 0;
}

.navBarTopDiv {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.navBarTopDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navBarTopImg {
  cursor: pointer;
  width: 100px;
}


