.projectMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
 
}
.projectDescripDiv {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectDescripfirstSect {
  height: 10vh;
}

.projectSvg {
  width: 260px;
}







