@media (max-width: 767px) {
  .projectMainDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
  }

  .projectDescripfirstSect {
    height: 5vh;
    width: 90vw;
  }

  .projectDescripDiv {
    width: 90vw;
    height: 50vh;
    margin-top: 15vh;
  }

  .projectSvg {
    width: 160px;
  }

  .projectScreenhpHoldingDiv {
    width: 90vw;
    height: 240px;
  }

  .projectNavHolder {
    height: 50px;
    width: 90vw;
  }

  .projectNavDiv {
    font-size: smaller;   
    text-align: end;
    display: flex;
    justify-content: center;
  }

}
@media (min-width: 768px) {
  .projectDescripfirstSect {
    height: 6vh;
  }

  .projectMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    position: relative;
  }
  
  .projectDescripDiv {
    width: 40vw;
    height: 60vh;
    position: absolute;
    right: 50%;
  }
  
  .projectSvg {
    width: 260px;
  }

  .projectNavDiv {
    font-size: smaller;
    height: 70px;
    bottom: 20%;
    left: 45%;
    position: absolute;  
    text-align: end;
  }

}






