.projectTechStack {
  display: flex;
  justify-content: flex-start;
  height: 4vh;
}

.projectTechStack div {
  height: 2vh;
}

.projectTechStack .projectTechStackMotion p {
  margin-left: 4%;
}


@media (max-width: 767px) {

  .projecDescriptionMainDiv {
    height: 43vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
    
  }

  .projectTechName {
    height: 4vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .projectTechStackDes {
    height: 120px;
    color: #3176AF;
  }

  .projectTechStack .projectTechStackMotion {
    display: flex;
    justify-content: flex-start;
    width: 54vw;
    height: 2vh;
  }

  
}

@media (min-width: 768px) {

  .projecDescriptionMainDiv {
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .projectTechName {
    height: 5vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectTechStackDes {
    height: 220px;
    color: #3176AF;
  }
  
  .projectTechStack .projectTechStackMotion {
    display: flex;
    justify-content: flex-start;
    width: 30vw;
    height: 2vh;
  }

}

