* {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.pagesLayoutDiv {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.navNextImg {
  width: 5vh;
}

.navNextImgDiv {
  cursor: pointer;
  height: 60px
}

.pageHeading svg path {
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-delay: 1s;  
  stroke: black;
  animation: headingAnimation 4s linear forwards; 
}

@keyframes headingAnimation {
  40% {
    fill: transparent;
  }
  100% {
    fill:#333333;
    stroke-dashoffset: 0;
  }
}

@media (max-width: 767px) {
  .navNextDiv {
    font-size: smaller;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    text-align: end;
  }
  .arrImgRight {
    width: 30px;
  }
  
  .arrImgLeft {
    transform: rotate(180deg);
    width: 30px;
  }
}


@media (min-width: 768px) {
  .navNextDiv {
    font-size: smaller;
    height: 30px;
    position: absolute;
    bottom: 25%;
    text-align: end;
  }

  .arrImgRight {
    width: 2vh;
  }
  
  .arrImgLeft {
    transform: rotate(180deg);
    width: 2vh;
  }
  
  
}

