.aboutPageDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutPageIntroSvg .aboutPageSvgPathBlack {
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-delay: 1s;  
  stroke: black;
  animation: nameBlackAnimation 4.5s linear forwards; 
}

.aboutPageIntroSvg .aboutPageSvgPathBlue {
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-delay: 1s;  
  stroke: #3176AF;
  animation: nameBlueAnimation 4.5s linear forwards;
}


@keyframes nameBlueAnimation {
  40% {
    fill: transparent;
  }
  100% {
    fill:#3176AF;
    stroke-dashoffset: 0;
  }
}

@keyframes nameBlackAnimation {
  40% {
    fill: transparent;
  }
  100% {
    fill:#333333;
    stroke-dashoffset: 0;
  }
}

@media (max-width: 767px) {

  .aboutPageIntroCont {
    max-width: 88vw;
  }

  .aboutPageIntroSvg {
    width: 38vh;
  }

  .aboutPageIntroTyped {
    margin-top: 5%;
    width: 88vw;
    height: 200px;
  }

  .aboutPageRingCont {
    height: 20vh;
    width: 88vw; 
  }

  .aboutPageNav {
    font-size: smaller;
    height: 30px;
    display: flex;
    justify-content: flex-end;
  }

  .aboutPageNavImgDiv {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
  }

}

@media (min-width: 767px) {
  .aboutPageDivB {
    height: 80vh;
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .aboutPageIntroCont {
    height: 30vh;
    width: 38vw;
  }

  .aboutPageIntroSvg {
    width: 340px;
  }

  .aboutPageIntroTyped {
    margin-top: 5%;
    width: 38vw;
  }

  .aboutPageRingCont {
    height: 30vh;
    width: 35vw; 
  }
  
}

@media (min-width: 999px) {
  .aboutPageIntroTyped {
    font-size: larger;
  }
}