/*Refered to https://codepen.io/mikegolus/pen/Jegvym*/

.backgroundMainDiv {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  z-index: -10;
  overflow: hidden;
}

.sparks {
  position: fixed;
  width: 0.8vw;
  height: 0.8vw;
  opacity: 0.6; 
  animation: ease 10s alternate infinite; 
  pointer-events: none;
}

/* .sparks::before,
.sparks::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: center;
} */

.sparks::before {
  background: #3176AF;
  opacity: 0.2;
  animation: drift ease alternate infinite;
}

/* .sparks::after {
  background: #3176AF;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw #3176AF;
  animation: drift ease alternate infinite, flash ease infinite;
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%, 60%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #3176AF;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 10vw 5vw #3176AF;
  }
}  */

@keyframes move1 {
  0% { transform: translate(-10vw, -10vh) scale(0.2); } 
  25% { transform: translate(-2vw, -2vh) scale(0.4); } 
  50% { transform: translate(2vw, 3vh) scale(0.8); }
  75% { transform: translate(13vw, -28vh) scale(0.5); }
  100% { 
    transform: translate(0vw, 0vh) scale(0.2); 
    opacity: 0;
  }
}

@keyframes move2 {
  0% { transform: translate(10vw, 10vh) scale(0.2); }
  25% { transform: translate(2vw, 2vh) scale(0.6); }
  50% { transform: translate(-2vw, -3vh) scale(0.9); }
  75% { transform: translate(0vw, -28vh) scale(1); }
  100% { 
    transform: translate(0vw, 0vh) scale(0.2); 
    opacity: 0;
  }
}

@keyframes move3 {
  0% { transform: translate(3vw, -3vh) scale(0.2); }
  25% { transform: translate(10vw, 3vh) scale(0.8); }
  50% { transform: translate(-10vw, -5vh) scale(0.7); }
  75% { transform: translate(8vw, 8vh) scale(1); }
  100% { 
    transform: translate(-20vw, 0vh) scale(0.2); 
    opacity: 0;
  }
}

@keyframes move4 {
  0% { transform: translate(16vw, 0vh) scale(0.2); }
  25% { transform: translate(0vw, -15vh) scale(0.8); }
  50% { transform: translate(0vw, 0vh) scale(0.7); }
  75% { transform: translate(8vw, 10vh) scale(1); }
  100% { 
    transform: translate(20vw, -15vh) scale(0.2); 
    opacity: 0;
  }
}

@keyframes move5 {
  0% { transform: translate(0vw, 0vh) scale(0.2); }
  25% { transform: translate(-16vw, -25vh) scale(0.8); }
  50% { transform: translate(-4vw, -5vh) scale(0.7); }
  75% { transform: translate(0vw, 0vh) scale(1); }
  100% { 
    transform: translate(-13vw, -8vh) scale(0.2); 
    opacity: 0;
  }
}

@keyframes move6 {
  0% { transform: translate(0vw, 0vh) scale(0.2); }
  25% { transform: translate(-18vw, 0vh) scale(0.8); }
  50% { transform: translate(-4vw, -5vh) scale(0.7); }
  75% { transform: translate(3vw, 2vh) scale(1); }
  100% { 
    transform: translate(0vw, -18vh) scale(0.2); 
    opacity: 0;
  }
}


.sparks:nth-child(1) {
  animation-name: move1;
  animation-duration: 50s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
 .sparks:nth-child(2) {
  animation-name: move2;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.sparks:nth-child(3) {
  animation-name: move3;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sparks:nth-child(4) {
  animation-name: move4;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


 .sparks:nth-child(5) {
  animation-name:  move5;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sparks:nth-child(6) {
  animation-name: move6;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sparks:nth-child(7) {
  animation-name: move1;
  animation-duration: 32s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sparks:nth-child(8) {
  animation-name: move3;
  animation-duration: 38s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sparks:nth-child(9) {
  animation-name: move5;
  animation-duration: 28s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sparkGlitch {
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: #3176AF;
}